{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"trailingComma": "all",
	"tabWidth": 4,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"bracketSameLine": false
			}
		},
		{
			"files": ["README.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
